html, body
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes Neue';
    src: local('TT Lakes Neue Thin'), local('TT-Lakes-Neue-Thin'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.woff') format('woff'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue light';
    src: local('TT Lakes Neue Light'), local('TT-Lakes-Neue-Light'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.woff') format('woff'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Regular';
    src: local('TT Lakes Neue Regular'), local('TT-Lakes-Neue-Regular'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.woff') format('woff'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.window
{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.navbar
{
    background-color: #161616;
    color: whitesmoke;
    font-size: 3.5vh;
    font-family: "Teko";
    font-weight: bold;
    height: 9%;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    z-index: 1;
}

.nav-tab
{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo
{
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5vw 0 1vw;
}

.nav-logo img
{
    height: 6vh;
    width: 5vw;
}

.nav-link
{
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-link>div
{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link a:hover
{
    color: #DA292A;
}

.dropdown-arrow
{
    font-size: 1.9vh;
    transition-duration: 0.3s;
}

.dropdown-menu
{
    display: none;
}

.dropdown-menu a
{
    text-decoration: none;
}

.multi-dropdown-menu a
{
    color: #f3f3f3;
    text-decoration: none;
}

.nav-link-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.multi-dropdown-menu
{
    display: none;
}

.dropdown-menu-1 a
{
    color: #f3f3f3;
}

.dropdown-menu-2 a
{
    color: #f3f3f3;
}

.nav-link div:hover #multi-dropdown-menu-option-1
{
    display: flex;
    flex-direction: column;
    margin: 3vh 1.8vw 3vh 2.3vw;
}

.nav-link div:hover #multi-dropdown-menu-option-2
{
    display: flex;
    flex-direction: column;
    margin: 3vh 1.8vw;
}

.nav-link div:hover #multi-dropdown-menu-option-3
{
    display: flex;
    flex-direction: column;
    margin: 3vh 2.3vw 3vh 1.8vw;
}

.nav-link div:hover .multi-dropdown-menu-option-label
{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    font-family: 'TT Lakes Neue Regular';
    padding-bottom: 0.7vh;
}

.nav-link div:hover .multi-dropdown-menu-option-links
{
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    margin-bottom: 2vh;
}

.nav-link div:hover .multi-dropdown-menu-option-links div
{
    padding: 1vh 0;
}

.nav-link>div:hover>a
{
    color: #DA292A;
}

.nav-link>a
{
    color: #f3f3f3;
    text-decoration: none;
}

.nav-link div:hover .dropdown-arrow
{
    transform: rotateX(180deg);
}

.nav-link>div:hover
{
    height: 130%;
}

.nav-link div:hover .dropdown-menu
{
    background-color: #161616;
    border-radius: 4px;
    opacity: 90%;
    display: block;
    position: absolute;
    font-family: 'TT Lakes Neue';
    font-size: 2.7vh;
    margin-top: 1.2vh;
    top: 100%;
}

.nav-link div:hover .dropdown-menu-1
{
    display: block;
    margin: 2.5vh 3.5vw 1.5vh 3vh;
}

.nav-link div:hover .dropdown-menu-2
{
    display: block;
    margin: 1.5vh 3.5vw 3.5vh 3vh;
}

.nav-link div:hover .multi-dropdown-menu
{
    background-color: #161616;
    border-radius: 4px;
    opacity: 90%;
    display: flex;
    position: absolute;
    font-family: 'TT Lakes Neue';
    font-size: 2.8vh;
    margin-top: 1.2vh;
    top: 100%;
}

.nav-search
{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vw;
}

.content
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.intro
{
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.5px solid black;
}

.intro img
{
    height: 40vh;
    width: 25vw;
}

.intro-img
{
    background-image: url(Images/Battle-Pass/Intro-Bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 91%;
    width: 100%;
}

.intro-bar
{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
}

.intro-bar label
{
    font-family: 'Teko';
    font-size: 8vh;
    margin-bottom: 5vh;
    letter-spacing: -0.05vw;
}

.intro-bar div
{
    font-family: "TT Lakes Neue Regular";
    display: flex;
    font-size: 3vh;
}

.intro-bar div a
{
    border-bottom: 1.8px solid #f3f3f3;
    text-decoration: none;
    margin: 0 1.3vw ;
    color: #f3f3f3;
    transition-duration: 0.1s;
}

.intro-bar div a:hover
{
    transform: scale(1.1);
    color: #DA292A;
    border-color: #DA292A;
}

.battle-pass-info
{
    background-image: url(Images/Battle-Pass/battle-pass-bg.jpg);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.battle-pass-info>label
{
    font-family: "Teko";
    font-size: 9vh;
    letter-spacing: -0.05vw;
    margin: 8vh 0 -2vh;
}

.battle-pass-info>span
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 3.1vh;
    margin: 1vh 9%;
}

#trailer
{
    border: none;
    box-shadow: 0 1px 10px black;
    height: 87.5vh;
    width: 73vw;
    margin: 4vh 0 13vh 0;
}

.battle-pass-option
{
    width: 90%;
    display: flex;
    box-sizing: border-box;
}

.battle-pass-option div
{
    margin: 13vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.battle-pass-option div img
{
    height: 41vh;
    width: 33vw;
}

.battle-pass-option div label
{
    font-family: "Teko";
    font-size: 7vh;
    margin: 7vh 0 0;
    letter-spacing: -0.05vw;
}

.battle-pass-option div span
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 3.3vh;
    padding: 0 7vw;
}

.premium-reward
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh 0 0;
    box-sizing: border-box;
}

.premium-reward label
{
    width: 100%;
    font-family: "Teko";
    font-size: 9vh;
}

.premium-reward>span
{
    width: 100%;
    font-family: 'TT Lakes Neue Regular';
    font-size: 3vh;
    padding: 0 15vw;
    margin-bottom: 9vh;
    box-sizing: border-box;
}

.premium-reward-bar
{
    width: 100%;
    background-color: rgb(32, 32, 32);
    border-bottom: 5px solid #DA292A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.premium-reward-bar span
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 3.1vh;
    padding: 1.9vh 1.2vw 2.5vh;
    cursor: pointer;
}

.premium-reward-bar span:hover
{
    background-color: black !important;
}

.premium-reward-img
{
    width: 100%;
    height: 101vh;
    background-image: url(Images/Battle-Pass/Ash.jpg);
    background-size: cover;
}

.free-reward
{
    background-image: url(Images/Battle-Pass/Free-Reward-Bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    color: #f3f3f3;
}

.free-reward>span
{
    margin: 0 13vw 20vh;
    font-size: 3.4vh;
    font-weight: 600;
    font-family: 'TT Lakes Neue Regular';
}

.new-feature
{
    margin: 12vh 5vw 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-feature div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.new-feature div label
{
    font-family: "Teko";
    font-size: 7vh;
    letter-spacing: -.08vw;
}

.new-feature video
{
    margin-top: 5vh;
    height: 48vh;
    width: 48vw;
}

.free-reward-info
{
    width: 100%;
    height: 30vh;
    margin: 3vh 0;
    background-image: url(Images/Battle-Pass/icon.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.free-reward-info label
{
    font-family: "Teko";
    font-size: 9vh;
    letter-spacing: -0.09vw;
}

.free-reward-info span
{
    margin-top: -2vh;
    font-family: 'TT Lakes Neue Regular';
    font-size: 3vh;
}

.faq
{
    background-image: url(Images/Battle-Pass/FAQ.jpg);
    background-size: cover;
    padding: 15vh 25vw 15vh 10vw;  
    color: #f3f3f3;
    box-sizing: border-box;
}

.faq p
{
    font-size: 8vh;
    font-family: "Teko";
    margin: 0 0 -3vh;
    letter-spacing: -.0.09vw;
    display: flex;
    flex-direction: column;
}

.faq li
{
    padding-left: 0.8vw;
    margin: 2vh;
}

li::marker 
{
    color: #DA292A;
    font-size: 2.5vh;
}

.faq div
{
    display: flex;
    flex-direction: column;
}

.faq label
{
    margin: 7vh 0 3vh;
    font-family: 'TT Lakes Neue Regular';
    font-size: 3.9vh;
    font-weight: bold;
}

.faq span
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 2.95vh;
}

.play-free
{
    background-image: url(Images/Footer/Play-Bg-1.jpg);
    height: 80%;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.play-free-platform
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-free-down
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 9vw;
}

.play-free-down label
{
    font-family: "Teko";
    font-size: 8vh;
    letter-spacing: -0.1vw;
    color: white;
}

.play-free-down>span
{
    font-family: "TT Lakes Neue Regular";
    font-size: 3.6vh;
    color: whitesmoke;
}

.play-free-down a
{
    border: none;
    text-decoration: none;
    background-color: #DA292A;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1.7vh 1.9vw 2.2vh 1.9vw;
    margin-top: 3.5vh;
    font-family: "TT Lakes Neue Regular";
    font-size: 3.1vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    color: whitesmoke;
    cursor: pointer;
}

.play-free-condition
{
    color: whitesmoke;
    font-size: 2.5vh;
    box-sizing: border-box;
    padding: 0 8.5vw;
    font-family: "TT Lakes Neue light";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer
{
    background-color: #252525;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links
{
    border-bottom: 0.5px solid gray;
    height: 30%;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-nav
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 2.8vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-nav a
{
    color: #909090;
    text-decoration: none;
}

.footer-links-nav a:hover
{
    color: #DA292A;
}

.footer-links-contact
{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.footer-links-contact-label
{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer-links-contact-label label
{
    color: white;
    font-family: "Teko";
    font-size: 3.2vh;
}

.footer-links-contact-social
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-top: 1.5vh;
    display: flex;
    text-align: end;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-links-contact-social a
{
    margin-left: 1.8vw;
}

.socials
{
    height: 3.4vh;
    width: 1.7vw;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#yt
{
    height: 3.4vh;
    width: 1.7vw;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#yt:hover
{
    transform: scale(1.2);
}

.socials:hover
{
    transform: scale(1.2);
}

#socials
{
    height: 3.4vh;
    width: 0.8vw;
    transition-duration: 0.1s;
}

#socials:hover
{
    transform: scale(1.2);
}

.footer-img
{
    height: 70%;
    box-sizing: border-box;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img-game
{
    display: flex;
    align-items: center;
}

#apex-mobile
{
    height: 14vh;
    width: 6vw;
    padding: 0 1vw;
}

#apex
{
    height: 21vh;
    width: 6.75vw;
    padding-right: 1vw;

}

#respawn
{
    height: 8.5vh;
    width: 20vw;
    padding: 0 1vw;
}

.footer-img-esb
{
    display: flex;
    align-items: flex-end;
}

#esb
{
    height: 22vh;
    width: 17vw;
    padding-left: 1vw;
}

.footer-2
{
    height: 30%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #585858;
    font-family: 'TT Lakes Neue Regular';
}

.footer-2-ea-logo
{
    box-sizing: border-box;
    padding-top: 2vh;
    width: 9%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#ea-logo
{
    height: 8vh;
    width: 3.8vw;
}

.footer-2-ea
{
    height: 100%;
    width: 56%;
    display: flex;
    align-items: space-around;
    flex-direction: column;
}

.footer-2-ea a
{
    text-decoration: none;
    color: #585858;
}

.footer-2-ea-top
{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6vh;
}

.footer-2-ea-bottom
{
    height: 40%;
    font-size: 2.28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-2-ea-bottom-top
{
    width: 75%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-2-ea-bottom-bottom
{
    display: flex;
    align-items: center;
}

.footer-2-certificate
{
    width: 21%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    
}

#certificate
{
    height: 8vh;
    width: 11vw;
}