html, body
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TT Lakes Neue';
    src: local('TT Lakes Neue Thin'), local('TT-Lakes-Neue-Thin'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.woff') format('woff'),
        url('Fonts/TTLakesNeue-Thin/TTLakesNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue light';
    src: local('TT Lakes Neue Light'), local('TT-Lakes-Neue-Light'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.woff') format('woff'),
        url('Fonts/TTLakesNeue-Light/TTLakesNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Regular';
    src: local('TT Lakes Neue Regular'), local('TT-Lakes-Neue-Regular'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.woff2') format('woff2'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.woff') format('woff'),
        url('Fonts/TTLakesNeue-Regular/TTLakesNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.window
{
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.popup
{
    height: 100%;
    background-color: #f3f3f3;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 7;
}

.popup-close-button
{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vw;
    box-sizing: border-box;
}

.popup-close-button img
{
    height: 3vh;
    width: 1.5vw;
    cursor: pointer;
}

.popup-video
{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-video iframe
{
    height: 73vh;
    width: 60vw;
}

.navbar
{
    background-color: #161616;
    color: whitesmoke;
    font-size: 3.5vh;
    font-family: "Teko";
    font-weight: bold;
    height: 9%;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    z-index: 1;
}

.nav-tab
{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo
{
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5vw 0 1vw;
}

.nav-logo img
{
    height: 6vh;
    width: 5vw;
}

.nav-link
{
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-link>div
{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link a:hover
{
    color: #DA292A;
}

.dropdown-arrow
{
    font-size: 1.9vh;
    transition-duration: 0.3s;
}

.dropdown-menu
{
    display: none;
}

.dropdown-menu a
{
    text-decoration: none;
}

.multi-dropdown-menu a
{
    color: #f3f3f3;
    text-decoration: none;
}

.nav-link-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.multi-dropdown-menu
{
    display: none;
}

.dropdown-menu-1 a
{
    color: #f3f3f3;
}

.dropdown-menu-2 a
{
    color: #f3f3f3;
}

.nav-link div:hover #multi-dropdown-menu-option-1
{
    display: flex;
    flex-direction: column;
    margin: 3vh 1.8vw 3vh 2.3vw;
}

.nav-link div:hover #multi-dropdown-menu-option-2
{
    display: flex;
    flex-direction: column;
    margin: 3vh 1.8vw;
}

.nav-link div:hover #multi-dropdown-menu-option-3
{
    display: flex;
    flex-direction: column;
    margin: 3vh 2.3vw 3vh 1.8vw;
}

.nav-link div:hover .multi-dropdown-menu-option-label
{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    font-family: 'TT Lakes Neue Regular';
    padding-bottom: 0.7vh;
}

.nav-link div:hover .multi-dropdown-menu-option-links
{
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    margin-bottom: 2vh;
}

.nav-link div:hover .multi-dropdown-menu-option-links div
{
    padding: 1vh 0;
}

.nav-link>div:hover>a
{
    color: #DA292A;
}

.nav-link>a
{
    color: #f3f3f3;
    text-decoration: none;
}

.nav-link div:hover .dropdown-arrow
{
    transform: rotateX(180deg);
}

.nav-link>div:hover
{
    height: 130%;
}

.nav-link div:hover .dropdown-menu
{
    background-color: #161616;
    border-radius: 4px;
    opacity: 90%;
    display: block;
    position: absolute;
    font-family: 'TT Lakes Neue';
    font-size: 2.7vh;
    margin-top: 1.2vh;
    top: 100%;
}

.nav-link div:hover .dropdown-menu-1
{
    display: block;
    margin: 2.5vh 3.5vw 1.5vh 3vh;
}

.nav-link div:hover .dropdown-menu-2
{
    display: block;
    margin: 1.5vh 3.5vw 3.5vh 3vh;
}

.nav-link div:hover .multi-dropdown-menu
{
    background-color: #161616;
    border-radius: 4px;
    opacity: 90%;
    display: flex;
    position: absolute;
    font-family: 'TT Lakes Neue';
    font-size: 2.8vh;
    margin-top: 1.2vh;
    top: 100%;
}

.nav-search
{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2vw;
}

.content
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.intro
{
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.5px solid black;
}

.intro-img
{
    background-image: url(Images/Champion-Edition/intro-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 91%;
    width: 100%;
}

.intro-img img
{
    width: 23vw;
}

.intro-img div
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-img div>span
{
    font-family: 'TT Lakes Neue Regular';
    color: #f3f3f3;
    font-size: 3vh;
    margin-bottom: 2vh;
}

#play
{
    margin-top: 4vh;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1.8vh 2vw 2.3vh 2vw;
    font-family: 'TT Lakes Neue Regular';
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 3.1vh;
    font-weight: lighter;
    color: whitesmoke;
    cursor: pointer;
}

.details
{
    padding: 12vh 7vw;
    background-color: #e6e2da;
    color: #252525;
    font-size: 3.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'TT Lakes Neue light';
}

.details>div
{
    display: flex;
}

.info
{
    display: flex;
    padding: 8vh 5vw 2vh 0;
    flex-direction: column;
}

.info label
{
    font-size: 6vh;
    font-weight: bold;
}

.info span
{
    margin: 5.5vh 0 3vh 0;
}

.info p
{
    margin: 0;
}

li
{
    list-style-type: disc;
    margin: 1.5vh 1vw;
}

ul li::marker
{
    font-size: 2.4vh;
    color: #DA292A;
}

.purchase
{
    margin-top: 4vh;
    background-color: #f3f3f3;
    padding: 1vh 1.5vw 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase>div
{
    width: 25vw;
    margin: 4vh 0;
    display: flex;
    justify-content: flex-end;
}

.purchase>div img
{
    padding-left: 2vw;
    height: 24vh;
    width: 8vw;
}

.purchase>div>div
{
    box-sizing: border-box;
    display: flex;
    padding-right: 1vw;
    flex-direction: column;
    justify-content: space-between;
}

.purchase>div>div label
{
    font-weight: bold;
    font-family: "Teko";
    font-size: 3vh;
    line-height: 2.7vh;   
}

.purchase>div>div span
{
    font-size: 3.1vh;
}

.purchase>span
{
    font-size: 2.6vh;
}

.purchase i
{
    padding-left: 0.5vw;
}

.button
{
    width: 24vw;
    text-decoration: none;
    margin-bottom: 4vh;
    border-radius: 4px;
    padding: 1.2vh 0 2vh;
    border: none;
    text-align: center;
    color: #f3f3f3;
}

.steam
{
    text-decoration: none;
    border: 2px solid #161616;
    color: #161616;
    width: 24vw;
    margin-bottom: 4vh;
    border-radius: 4px;
    padding: 1.2vh 0 2vh;
    text-align: center;
}

.play-free
{
    background-image: url(Images/Footer/Play-Bg-2.jpg);
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.play-free-down
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 9vw;
    margin: 7.5vh 0;
}

.play-free-down label
{
    font-family: "Teko";
    font-size: 8vh;
    color: white;
    margin-bottom: 3vh;
}

.play-free-down>span
{
    font-family: 'TT Lakes Neue light';
    font-size: 3.2vh;
    color: whitesmoke;
}

.play-free-down a
{
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1.5vh 1.6vw;
    margin-top: 3.5vh;
    font-family: 'TT Lakes Neue light';
    font-size: 3.1vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    color: whitesmoke;
    cursor: pointer;
}

.play-free-condition
{
    color: whitesmoke;
    font-size: 2.5vh;
    box-sizing: border-box;
    padding: 0 8.5vw;
    font-family: 'TT Lakes Neue light';
    text-align: center;
    margin: 3vh 0 3.5vh 0;
}

.footer
{
    background-color: #252525;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links
{
    border-bottom: 0.5px solid gray;
    height: 30%;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-nav
{
    font-family: 'TT Lakes Neue Regular';
    font-size: 2.8vh;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links-nav a
{
    color: #909090;
    text-decoration: none;
}

.footer-links-nav a:hover
{
    color: #DA292A;
}

.footer-links-contact
{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.footer-links-contact-label
{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer-links-contact-label label
{
    color: white;
    font-family: "Teko";
    font-size: 3.2vh;
}

.footer-links-contact-social
{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding-top: 1.5vh;
    display: flex;
    text-align: end;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer-links-contact-social a
{
    margin-left: 1.8vw;
}

.socials
{
    height: 3.4vh;
    width: 1.7vw;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#yt
{
    height: 3.4vh;
    width: 1.7vw;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

#yt:hover
{
    transform: scale(1.2);
}

.socials:hover
{
    transform: scale(1.2);
}

#socials
{
    height: 3.4vh;
    width: 0.8vw;
    transition-duration: 0.1s;
}

#socials:hover
{
    transform: scale(1.2);
}

.footer-img
{
    height: 70%;
    box-sizing: border-box;
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img-game
{
    display: flex;
    align-items: center;
}

#apex-mobile
{
    height: 14vh;
    width: 6vw;
    padding: 0 1vw;
}

#apex
{
    height: 21vh;
    width: 6.75vw;
    padding-right: 1vw;

}

#respawn
{
    height: 8.5vh;
    width: 20vw;
    padding: 0 1vw;
}

.footer-img-esb
{
    display: flex;
    align-items: flex-end;
}

#esb
{
    height: 22vh;
    width: 17vw;
    padding-left: 1vw;
}

.footer-2
{
    height: 30%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #585858;
    font-family: 'TT Lakes Neue Regular';
}

.footer-2-ea-logo
{
    box-sizing: border-box;
    padding-top: 2vh;
    width: 9%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#ea-logo
{
    height: 8vh;
    width: 3.8vw;
}

.footer-2-ea
{
    height: 100%;
    width: 56%;
    display: flex;
    align-items: space-around;
    flex-direction: column;
}

.footer-2-ea a
{
    text-decoration: none;
    color: #585858;
}

.footer-2-ea-top
{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6vh;
}

.footer-2-ea-bottom
{
    height: 40%;
    font-size: 2.28vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-2-ea-bottom-top
{
    width: 75%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-2-ea-bottom-bottom
{
    display: flex;
    align-items: center;
}

.footer-2-certificate
{
    width: 21%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    
}

#certificate
{
    height: 8vh;
    width: 11vw;
}