@font-face {
    font-family: 'TT Lakes Neue';
    src: local('TT Lakes Neue Medium'), local('TT-Lakes-Neue-Medium'),
        url('TTLakesNeue-Medium.woff2') format('woff2'),
        url('TTLakesNeue-Medium.woff') format('woff'),
        url('TTLakesNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }